<!DOCTYPE html>
<html lang="es-AR">
<head>
  <meta charset="utf-8"/>
  <title>Page Name - Project Name</title>

  <meta name="robots" content="noindex"/>
  <meta name="googlebot" content="noindex"/>

  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, viewport-fit=cover"/>
  <meta name="description" content="Project Name"/>
  <meta name="theme-color" content="#ffffff"/>
  <meta name="msapplication-TileColor" content="#ffffff"/>
  <link rel="manifest" href="/manifest.json"/>

  <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png"/>
  <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png"/>
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png"/>
  <link rel="icon" type="image/png" sizes="192x192" href="/icons/android-icon-192x192.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png"/>
  <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png"/>

  <style>
    @font-face {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      src: local('DM Sans Medium'), local('DMSans-Medium'), url('https://fonts.gstatic.com/s/dmsans/v3/rP2Cp2ywxg089UriAWCrCBimCw.woff2') format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    [v-cloak] {
      display: none !important
    }
  </style>
  <link rel="stylesheet" href="/dist/style.css"/>
</head>
<body>
<div id="app">
  <somecomponent>
  </somecomponent>
</div>
<script>
if (typeof global === 'undefined')
  var global = window;
</script>
<script src="/dist/somebundle.js"></script>
</body>
</html>
